.doc-tile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2.5%;
  margin: 0.65% 0;
  width: 70%;
  text-decoration: none;
  color: black;
  font-weight: 500;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px #ccc;
}

.doc-tile > a{
  text-decoration: none;
  color: #333;
}

.doc-tile:hover, .doc-tile:focus, .doc-tile:active{
  box-shadow: 2.5px 2.5px #333;
}

.tile-actions-container{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions{
  cursor: pointer;
}

.actions:hover , .actions:active, .actions:focus{
  transform: scale(1.1);
}

.profile-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 5px 5px #ccc;
}

.appbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}


.tile-container-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding:1% 0;
}

.main-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-btn {
  position: fixed;
  bottom: 10vh;
  padding: 1% 5%;
  margin: 0.65% 0;
  text-decoration: none;
  background-color: black;
  color: #fff;
  font-weight: 700;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px #ccc;
}

.main-btn:hover, .main-btn:focus, .main-btn:active{
    box-shadow: 2.5px 2.5px #333;
}

.auth-btn {
padding: 3% 0%;
margin: 30% 5%;
text-decoration: none;
background-color: black;
color: #fff;
font-weight: 700;
border: 2px solid black;
border-radius: 5px;
box-shadow: 5px 5px #ccc;
}

.auth-btn:hover, .auth-btn:focus, .auth-btn:active{
  box-shadow: 2.5px 2.5px #333;
  cursor: pointer;
}

@media screen and (min-width: 480px) {
    .main-btn .auth-btn{
      padding: 1% 5%;
    }
    .tile-actions-container{
      width: 10%;
    }
}
